#
# Config file for lm50client
#

host = hekddcga.hek.uni-karlsruhe.de
#port = 502
mode = daemon
#workers = rrd report
workers = rrd
channels = 1
channels = 2
channels = 12
channels = 16

[rrd]
#file = /srv/cacti/rrd/lm50.rrd
file = /tmp/lm50client.csv
period = 2

[report]
#file = /var/cache/lm50client/report
#period = monthly
#recipient = heknet@hek.uni-karlsruhe.de
