#
# Config file for lm50client
#

host = hekddcga.hek.uni-karlsruhe.de
#port = 502
mode = daemon
#workers = rrd report
workers = rrd
channels = 1
channels = 2
channels = 12
channels = 16



# RRD file creation
#
# A COUNTER value is stored as a derivative with physical dimension "per second"
# according to RRDtool documentation
#
# The step size is dt = 2s. (This is the resolution of the measurement.)
#
# A power distribution box can have a maximum power throughput of
#   Pmax = 3 x 63A x 400V = 75600W
#
# The impulse constant is imp = 1000/kWh (sometimes it is 800/kWh)
#
# The maximum number of impulses between two measurements is therefore
#   Nmax = imp * Pmax * dt
#
# The maximum derivate is
#   dN = Nmax/dt = imp * Pmax = 1000/kWh * 75600W = 75600/h = 756/36 1/s = 21/s
#
#
# rrdtool \
#     create /tmp/lm50.rrd -s 2 \
#     DS:channel01:COUNTER:4:0:22 \
#     DS:channel02:COUNTER:4:0:22 \
#     DS:channel12:COUNTER:4:0:22 \
#     DS:channel16:COUNTER:4:0:22 \
#     RRA:LAST:0.5:1:100
#
# RRD file export
#
# rrdtool fetch /tmp/lm50.rrd LAST -r 2 -s end-120s
#

[rrd]
#file = /srv/cacti/rrd/lm50.rrd
file = /tmp/lm50.rrd
period = 2

[report]
#file = /var/cache/lm50client/report
#period = monthly
#recipient = heknet@hek.uni-karlsruhe.de
