#
# Config file for lm50client
#

host = hekddcga.hek.uni-karlsruhe.de
#port = 502
mode = daemon
#workers = rrd report
workers = rrd
channels =  1   # Bicycle shop CEE 1, imp = 800
channels =  2   # Bicycle shop CEE 2, imp = 800
channels =  6   # IT room, imp = 800
channels =  7   # Bar, imp = 1000
channels = 10   # Main, imp = 10000 (sic!)
channels = 11   # Basement, imp = 800
channels = 12   # Heating system, imp = 1000
channels = 16   # Janitor apartment, imp = 1000
channels = 17   # Ground floor, imp = 1000
channels = 21   # 1st floor, imp = 1000
channels = 22   # 2nd floor, imp = 1000
channels = 26   # 3rd floor, imp = 1000
channels = 27   # 4th floor, imp = 1000
channels = 31   # 5th floor, imp = 1000
channels = 32   # 6th floor, imp = 1000
channels = 36   # Meeting hall, imp = 1000
channels = 37   # Elevator, imp = 1000
channels = 41   # Family apartment, imp = 1000
channels = 46   # Laundry room, imp = 1000
channels = 47   # Ventilation system, imp = 1000

#
# See README.txt how to create the RRD file
#
[rrd]
file = /srv/cacti/rra/power.rrd
period = 60

[report]
#file = /var/cache/lm50client/report
#period = monthly
#recipient = heknet@hek.uni-karlsruhe.de
